.block {
    height: 75px;
    width: 75px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: #D9D9D9;
    border-radius: 5px;
    color: #575757;
}

.gamepad {
    display: flex;
    width: 340px;
    color: #D9D9D9;
    justify-content: center;
}

.gamepadButton {
    margin: 5px;
    width: 75px;
    border-color: #575757;
    border-style: dashed;
    height: 75px;
    font-size: 40px;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.gamepadButton:hover {
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    animation: fadeIn 1s;
}

.rows {
    background-color: #CFCFCF;
    display: flex;
    align-items: center;
    justify-items: center;
}