body {
  background-color: #D9D9D9;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
}

.EverythingElse{
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

ol,
ul {
  padding: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.main {
  padding: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.right{
  display: flex;
  flex-direction: column;
  height: 550px;
  justify-content: space-around;
}
.Blocks {
  display: flex;
  width: 450px;
  height: 158px;
  border-radius: 25px;
  filter: drop-shadow(3px 0px 4px #0000002F);
  background-color: #CFCFCF;
  border: 1px solid #8B8B8B;
  animation: blocks-decrese 0.25s forwards ease;
}


.Blocks:hover{
  animation: block-expand 0.25s forwards ease;
}

#Blocks1:hover #Blocks2 #Blocks3{
  background-color: red;
}

@keyframes blocks-decrese{
  0%{
    transform: scale(120%);
  }
  100%{
    transform: scale(100%);
  }
}

@keyframes block-expand {
  0%{
    transform:scale(100%);
  }
  100%{
    transform: scale(120%);
  }
}


h1, h2, h3 {
  margin: 0
}

.Blocks h1{
  margin-top: 30px;
  line-height: 60%;
  font-weight: 400;
  margin-left: 17px;
  font-size: 30px;
  font-family: "Poppins";
  color: #575757;
}

.Blocks h2{
  font-weight: 400;
  padding-top: 0px;
  font-size: 24px;
  font-family: "Poppins";
  margin-left: 17px;
  color: #676767;
  padding-bottom: 4%;
}

.Blocks h3{
  font-weight: 400;
  line-height: 100%;
  font-size: 20px;
  font-family: "Poppins";
  margin-left: 17px;
  color: #797979
}

.Bioimg{
  background-position: 50%;
  background-size: cover;
  border: 1px solid #8B8B8B;
  border-radius: 25px;
  margin-top: 21px;
  margin-left: 21px;
  height: 115px;
  width: 115px;
}

#img1{
  background-image: url('/public/temoc1.jpg');
}

#img2{
  background-image: url('/public/temoc2.webp');
}

#img3{
  background-image: url('/public/temoc3.jpg');
}

.paragraph{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  
  height: 474px;
}

.paragraph p{
  margin: 0px;
  width: 427px;
  font-size: 48px;
  font-family: "Poppins";
  font-weight: 800;
  color: #404040;
}

.ParButton{
  width: 427px;
  display: flex;
}

#GameButton{
  background-color:#9F9F9F;
  color: #676767;
  border-radius: 25px;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 800;
  border: none;
  width: 161px;
  height: 67px;
  text-decoration: none;
  align-items: center;
  line-height: 67px;
  text-align: center;

}

#GameButton:hover{
  color: #575757;
  box-shadow: 1px 3px 0px #0000003a;
}

#CodeButton{
  margin-left: 10%;
  background: none;
  color: #676767;
  border-radius: 25px;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 800;
  border: none;
  width: 161px;
  height: 67px;
  color: #676767;
  border-radius: 25px;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 800;
  border: none;
  text-decoration: underline;
  text-underline-offset: 15%;
  height: 67px;
  line-height: 67px;
}

#CodeButton:Hover{
  color: #575757;
  filter: drop-shadow(1px 1px 0px #0000003a);
}
