.navbar ul{
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #CFCFCF;
    font-family: 'Poppins';
    overflow: hidden;
    height: 133px;
    padding-left: 17%;
    padding-right: 18%;
    align-items: center;
  }
  
  .navbar img{
    height: 57px;
    padding-bottom: 20px;
  }
  
  .navbar-buttons{
    display: flex;
    justify-content: space-between;
    width: 413px;
  }

  .navbar-buttons a {
    color: #575757;
    width: 117px;
    height: 49px;
    background-color: #D9D9D9;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 49px;
  }

  .navbar-buttons a:hover{
    filter: drop-shadow(1px 2px 1px #7c7c7c);
  }
