.CardSections{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.Card1{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    align-items: center;
}
.Card2{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    align-items: center;
}
.Card3{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    align-items: center;
}

.teamImgText{
    width: 50%;
}

.teamImg{
    border-radius: 400px;
    height: 200px;
    width: 200px;
    background-position: 50%;
    background-size: cover;
    outline: 6px double #575757;
    outline-offset: 2px;
}

#timg1{
    background-image: url("/public/temoc1.jpg");
}

#timg2{
    background-image: url("/public/temoc2.webp");
}

#timg3{
    background-image: url("/public/temoc3.jpg");
}

#Line{
    width: 50%;
    align-self: center;
    opacity: 30%;
}

h1{
    margin-top: 30px;
    line-height: 60%;
    font-weight: 400;
    font-size: 30px;
    font-family: "Poppins";
    color: #575757;
}

h2{
    font-weight: 400;
    padding-top: 0px;
    font-size: 24px;
    font-family: "Poppins";
    color: #676767;
    padding-bottom: 4%;
}

h3{
    font-weight: 400;
    line-height: 100%;
    font-size: 20px;
    font-family: "Poppins";
    color: #797979
}

h4{
    font-weight: 100;
    margin-top: none;
    margin-bottom: none;
    line-height: 10%;
    font-size: 15;
    font-family: "Poppins";
    color: #797979
}